name: Spider

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '18'
        distribution: 'temurin'
        
    - name: Delete workflows
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{ github.token }}
        repository: ${{ github.repository }}
        retain_days: 0 
        #The number of days that is used to compare with the retention days of each workflow.
        keep_minimum_runs: 2 
        #The minimum runs to keep for each workflow.
        
    - name: Clone project
      run: |
        rm -rf jar/custom_spider.jar
        git clone --recurse-submodules https://github.com/FongMi/CatVodSpider project
      
    - name: Customize Spider
      working-directory: ./project
      run: |
         sed -i 's/gradle-7.4.2-all/gradle-7.5-bin/g' gradle/wrapper/gradle-wrapper.properties
         
         
         
         #sed -i 's/https:\/\/s1.ax1x.com\/2023\/05\/04\/p9tgI81.png/http:\/\/image.coolapk.com\/feed\/2023\/0817\/10\/15491134_1b0929b1_9775_1639_274@512x512.png/g' app/src/main/java/com/github/catvod/utils/Image.java
         #rm -rf app/src/main/java/com/github/catvod/api
         #rm -rf app/src/main/java/com/github/catvod/bean/ali
         rm -rf app/src/main/java/com/github/catvod/bean/upyun

         #rm -rf app/src/main/java/com/github/catvod/spider/Ali.java
         rm -rf app/src/main/java/com/github/catvod/spider/PanSou.java
         rm -rf app/src/main/java/com/github/catvod/spider/UpYun.java
         rm -rf app/src/main/java/com/github/catvod/spider/Wogg.java
         rm -rf app/src/main/java/com/github/catvod/spider/XiaoZhiTiao.java
         rm -rf app/src/main/java/com/github/catvod/spider/YiSo.java
         rm -rf app/src/main/java/com/github/catvod/spider/Zhaozy.java
         
         
         
         
         
         rm -rf app/src/main/java/com/github/catvod/spider/Dm84.java
         rm -rf app/src/main/java/com/github/catvod/spider/Doll.java
         rm -rf app/src/main/java/com/github/catvod/spider/Eighteen.java
         rm -rf app/src/main/java/com/github/catvod/spider/Hanime.java
         rm -rf app/src/main/java/com/github/catvod/spider/JSDemo.java
         rm -rf app/src/main/java/com/github/catvod/spider/Jable.java
         rm -rf app/src/main/java/com/github/catvod/spider/Jianpian.java
         rm -rf app/src/main/java/com/github/catvod/spider/JustLive.java
         rm -rf app/src/main/java/com/github/catvod/spider/Kanqiu.java
         rm -rf app/src/main/java/com/github/catvod/spider/Kugou.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Local.java
         rm -rf app/src/main/java/com/github/catvod/spider/Miss.java
         rm -rf app/src/main/java/com/github/catvod/spider/Notice.java                  
         rm -rf app/src/main/java/com/github/catvod/spider/Star.java
         rm -rf app/src/main/java/com/github/catvod/spider/Ysj.java
         rm -rf app/src/main/java/com/github/catvod/spider/PanSearch.java
         
         
         rm -rf app/src/main/java/com/github/catvod/spider/Push.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Proxy.java
         sed -i "/Doll/d" app/src/main/java/com/github/catvod/debug/MainActivity.java

    - name: Build the Jar
      working-directory: ./project
      run: |        
         chmod +x gradlew
         ./gradlew assemblerelease --build-cache --parallel --daemon --warning-mode all
         
    - name: Customize Spider Jar
      working-directory: ./project
      run: |        
         rm -rf jar/custom_spider.jar
         rm -rf jar/spider.jar/original/META-INF
         curl -L https://github.com/iBotPeaches/Apktool/releases/download/v2.7.0/apktool_2.7.0.jar > jar/3rd/apktool_2.7.0.jar
         java -jar jar/3rd/baksmali-2.5.2.jar d app/build/intermediates/dex/release/minifyReleaseWithR8/classes.dex -o jar/Smali_classes
         mkdir -p jar/spider.jar/smali/com/github/catvod/
         mv jar/Smali_classes/com/github/catvod/spider jar/spider.jar/smali/com/github/catvod/         
         java -jar jar/3rd/apktool_2.7.0.jar b jar/spider.jar -c
         mv jar/spider.jar/dist/dex.jar ../jar/custom_spider.jar
         #md5=($(md5sum ../jar/custom_spider.jar))
         echo $(md5sum ../jar/custom_spider.jar | awk '{print $1}') > ../jar/custom_spider.jar.md5
         
    - name: Upload APK
      uses: actions/upload-artifact@v3.1.2
      with:
        name: Spider
        path: ./jar/custom_spider.jar

    - name: Update spider jar      
      uses: EndBug/add-and-commit@v9.1.3
      with:
        default_author: github_actions
        message: 'update spider jar'
        add: "['./jar/custom_spider.jar', './jar/custom_spider.jar.md5']"        
